@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'DM Sans',sans-serif;
}
/* Navigation Bar Styling */
.navbar {
  margin-top: -10px;
  display: flex;
  align-items: center;
}
.navbar img {
  width: 150px;
  height:auto;
  margin-left: 50px;
  margin-right: 800px;
}
.navbar ul {
  display: flex;
  justify-content:center;
  list-style-type: none;
}
.navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;

}
.user {
  display: flex;
  justify-content:center;
  margin-left: 50px;
  width: 40px;
  cursor: pointer;
}
.shopping-bag {
  display: flex;
  justify-content:center;
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}
/* Slider Styling */
.slider {
  width: 900px;
  height: 500px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.slides img {
  width: 900px;
  height: 500px;
  /* display: none;
  opacity: 0; */
  transition: opacity 0.5s ease-in-out;
}
img.displaySlide {
  display: block;
  opacity: 1;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: rgba(0%, 0%, 0%, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}
/* Clothing Part */
.background-image {
    position: relative;
    background-image: url('images/foto1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
.content{
    position:absolute;
    top: 150%;
    left:75%;
    transform: translate(-150%, -75%);
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.center-background{
    width: 900px; 
    height: 500px; 
    margin: 50px auto; 
    background-image: url('images/foto1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center ;
    text-align: center;
    border: 1px solid #ddd;
    color:white; 
    
    
}
.shop-button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    color:black;
    border:none;
    border-radius: 5px; 
    cursor:pointer;
    margin-top: 15px;   
}
.shop-button:hover{
    background-color: white;
}
/* Shoes Part */
.background2-image {
    position: relative;
    background-image: url('images/foto2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
.content2{
    position:absolute;
    top: 225%;
    left:82%;
    transform: translate(-225%, -82%);
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.center-background2{
    width: 900px; 
    height: 500px; 
    margin: 50px auto; 
    background-image: url('images/foto2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center ;
    text-align: center;
    border: 1px solid #ddd;
    color:white;
    
}
.shop-button2{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    color:black;
    border:none;
    border-radius: 5px; 
    cursor:pointer;
    margin-top: 15px;   
}
.shop-button2:hover{
    background-color: white;
}
.content2 p {
    color: white;
}
h1 {
    text-align: center;
    margin-bottom: 24px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 30px;
    display: inline-block;
    margin-left: 42%;
}
.container3 img{
    width:200px;
    height:200px;
}
.container3 {
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    margin-left: auto;
    margin-right: auto;
}
   


  
