@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'DM Sans',sans-serif;
}

/* NAVIGATION BAR STYLING */
.navbar {
  margin-top: -10px;
  display: flex;
  align-items: center;
}
.navbar img {
  width: 150px;
  height: auto;
  margin-left: 50px;
  margin-right: 800px;
  cursor: pointer;
}
.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.user {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  width: 40px;
  cursor: pointer;
}
.shopping-bag {
  display: flex;
  justify-content: center;
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}

/* SLIDER PART STYLING */
#slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
}
.slider {
  width: 900px;
  height: 500px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.slides img {
  width: 900px;
  height: 500px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
img.displaySlide {
  display: block;
  opacity: 1;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

/* CLOTHING PART*/
.center-background {
  width: 900px;
  height: 500px;
  margin: 50px auto;
  background-image: url('images/foto1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ddd;
  color: white;
}
.content {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.content p {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
.shop-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.shop-button2:hover{
  background-color: white;
}

/* SHOES PART STYLING */
.background2-image {
  position: relative;
  background-image: url('images/foto2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.center-background2 {
  width: 900px;
  height: 500px;
  margin: 50px auto;
  background-image: url('images/foto2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ddd;
  color: white;
}
.content2 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.content2 p {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
.shop-button2 {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
.shop-button2:hover{
  background-color: white;
}

/* BRANDS PART STYLING*/
#brands-heading {
  text-align: center;
  margin-bottom: 24px;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px 30px;
  display: inline-block;
  margin-left: 42%;
}
h1 {
  text-align: center;
  margin-bottom: 24px;
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px 30px;
  display: inline-block;
  margin-left: 45%;
}
.container3 img{
  width:200px;
  height:200px;
}
.container3 {
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */
.footer-container{
  width:100%;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
}
.footer-container p{
  margin-top:2px;
}
.social img{
  width: 35px;
  height: 35px;
  text-decoration: none;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  text-align: center;
}
.social a {
  text-decoration: none;
  margin-right: 20px;
}
.location {
  width: 16px;
}

/* CLOTHES SHOPPING STYLING */
.clothes {
  background-image: url(images/clothes1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;       
  font-size: 36px;
}
.clothes p {
  padding: 20px;
  background-color:rgba(222, 212, 212, 0.726);
}
.buy-clothes{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color:black;
  border:none;
  border-radius: 5px; 
  cursor:pointer;
  margin-top: 15px;  
}

/* SHOES SHOPPING STYLING */
.shoes {
  background-image: url(images/clothes2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  color: white;       
  font-size: 36px;
}
.shoes p {
  padding: 20px;
  background-color:rgba(222, 212, 212, 0.726);
}
.buy-shoes{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color:black;
  border:none;
  border-radius: 5px; 
  cursor:pointer;
  margin-top: 15px;   
}

/* SALE PART STYLING  */
.sale {
  background-image: url(images/sale1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;       
  font-size: 36px;
}
.sale p {
  margin-top: 100px;
  padding: 20px;
  background-color:rgba(225, 69, 69, 0.726);
}
.sale a{
  text-decoration: none;
  color: black;
}
.sale-button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff;
  color:black;
  border:none;
  border-radius: 5px; 
  cursor:pointer;
  margin-top: 15px; 
}

/* ABOUT US PART STYLING */ 
h2 {
  text-align: center;
  margin-bottom: 25px;
  padding: 10px 30px;
  display: inline-block;
  margin-left: 14%;
}
#aboutUs {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 30px;
  display: inline-block;
  margin-left: 13%;
  margin-right: 10%;
  background-color: rgba(0, 0, 0, 0.1);
}
.container4 img {
  width: 300px;
  height: 240px;
}
.container4 {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.box1{
  display: flex;
  margin-left: 50px;
  margin-bottom: 15px;
}
.box2{
  display: flex;
  flex-flow: row;
 justify-content: center;
}
.container5 img {
  width: 900px;
  height: 400px;
}
h3 {
  text-align: center;
  margin-bottom: 10px;
}
#text {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 30px;
  display: inline-block;
  margin-left: 38%;
  font-size: 20px;
}

/* LOG IN STYLING */
.login-container {
  width: 300px;
  height: 500px;
  max-height:fit-content;
  border: 2px solid rgba(222, 212, 212, 0.726);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.login-container img {
  width: 100px;
  margin-left: 92px;
  margin-top: -20px;
}
input {
  padding: 10px;
  margin:10px 60px;
  font-size: 14px;
  border-radius: 5px;
}
#submit {
  width: 200px;
  padding: 10px 80px;
  margin-left: 50px;
  margin-right: auto;
  background-color:#ffffff;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}
#submit:hover {
  background-color: royalblue;
  color: white;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.login-container p {
  text-align: center;
  margin: 5px 0;
}

/* REGISTER FORM PART STYLING */
.register-container {
  width: 300px;
  height: 600px;
  max-height: fit-content;
  border: 2px solid rgba(222, 212, 212, 0.726);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.register-container img {
  width: 100px;
  margin-left: 92px;
  margin-top: -15px;
}
.register-container p {
  text-align: center;
  margin: 5px 0;
}
input {
  padding: 10px;
  margin:10px 60px;
  font-size: 14px;
  border-radius: 5px;
}

/* CLOTHES PAGE STYLING */
.clothes-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  column-gap: 2em;
  row-gap: 2em;
}
.clothes-box {
  width: 300px;
  height: 300px;
  text-align: center;
  border: 2px solid rgba(222, 212, 212, 0.726);
  border-radius: 20px;
  font-size: 16px;
}
.clothes-container img {
  width: 200px;
  height: 200px;
}
.clothes-button {
  padding: 10px;
  margin-top: 5x;
  background-color: #ffffff;
}
.clothes-button:hover {
  background-color: rgb(54, 178, 54);
  transition: 0.3s ease-in;
}

/* SHOES PAGE STYLING*/
.shoes-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  column-gap: 2em;
  row-gap: 2em;
}
.shoes-box {
  width: 300px;
  height: 300px;
  text-align: center;
  border: 2px solid rgba(222, 212, 212, 0.726);
  border-radius: 20px;
  font-size: 16px;
}
.shoes-container img {
  width: 200px;
  height: 200px;
}
.shoes-button {
  padding: 10px;
  margin-top: 5px;
  background-color: #ffffff;
}
.shoes-button:hover {
  background-color: rgb(54, 178, 54);
  transition: 0.3s ease-in;
}


   


  
